#container {
    width: 60%; 
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    font-family: roboto;
    position: relative;
    display: flexbox;
}

.completed {
    color:rgba(0, 0, 0, 0.2);
    text-decoration: line-through;
}

h1 {
    /* background: #2980b9; */
    background: rgba(255, 255, 255, 0);
    color: white;
    padding: 10px 20px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    position: relative;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

input {
    display: block;
    font-size: 18px;
    color: #2980b9;
    background: rgba(255, 255, 255, 1);;
    width: 100%;
    padding: 13px 13px 13px 13px;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0,0);
    text-align: center;
    border-radius: 0;
}

input:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}

li {
    /* background: #fff; */
    background: rgba(255, 255, 255, 0.7);
    height: 40px;
    line-height: 40px;
    color: #666;
    text-align: center;
    position:relative;
    font-size: 14px;
}

li:nth-child(2n) {
    background: #f7f7f7;
}

li:hover #trash {
    width: 100px;
    max-width: 25%;
	opacity: 1.0;
}

li:hover #check {
    width: 100px;
    max-width: 25%;
	opacity: 1.0;
}

li:hover {
    font-size: 24px;
    transition: 0.2s;
}


body {
   }

#trash {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
    opacity: 0;
    position: absolute;
    left: 0
}

#check {
	background: green;
	height: 40px;
	margin-left: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
    opacity: 0;
    position: absolute;
    right: 0;
}

.fa-plus {
    float: right;
    position: absolute;
    right: 20px;
    top: 13px;
}

#item {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50%;
    text-decoration: line-through;
}

#item .completed {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 50%;
    color:rgba(0, 0, 0, 0.2);
    text-decoration: line-through;
}

  @media screen and (min-width: 0px) 
  and (max-width: 736px)  { 
      
    #container {
        width: 90%;
      }

    h1 {
        font-size: 2em;
    }
    
    input {
        font-size: 1.5rem;
        height: 80px;
    }

    li {
      height: 80px;
      line-height: 80px;
      font-size: 1em;
    }

    li:hover #item {
        font-size: 1.2em;
        transition: 0.2s;
    }

    #trash {
        height: 80px;
    }

    #check {
        height: 80px;
    }

    .fa-plus {
        float: right;
        padding-right: 20px;
        padding-top: 3px;
        height: 10px;
        width: 10px;
        opacity: 0.7;
    }
}