</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <br>
          <h2>yelpcamp</h2>
          <p></p>
          <br>
          <p><i class="fa fa-globe"></i>   CN Tower, Toronto, Ontario, M5T YYZ, Canada</p>
          <p><i class="fa fa-phone"></i>   (647)-416-9758</p>
          <p><i class="fa fa-envelope"></i>   hi@yelpcamp.com</p>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="copyright"><small class="text-white-50">© 2020. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
</body>
</html>